*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
}

#body{
    background-color: rgb(33, 37, 42);
    width: 100vw;
    overflow-x: hidden;

}

.scale-8{
    scale: 0.8;
}

hr{
    height: 2px;
    border-top: 1px solid rgb(179, 29, 29) !important;
    border-bottom: 1.5px solid rgb(130, 127, 127) !important;
}


/* sezione NAV */

.customSearch{
    width: 32px !important;
    animation: search, 0.2s, ease, 0s, 1, alternate !important;
}

.searchActive{
    right: 20px;
}

.imgLogo{
    height: 40px;
}

#listaPagCollegate{
    scale: 0.8;
    margin-left: -40px;
}

#listaPagCollegate li a{
    transition: all 0.3s linear;
}

.el-dropdown{
    transform: translateX(-60%);
}

.positionNav{
    position: sticky;
    top: 0;
    z-index: 11;
}

.positionNav nav{
    margin-right: 2rem;
}
  
.overButton:hover{
    background-color: #000000 !important;
    color: aliceblue !important;
    scale: 1.1 !important;
    transition: all 0.2s linear;
    border-radius: 10px;
}

.overButtonNavsx:hover{
    background-color: #000000 !important;
    color: aliceblue !important;
    scale: 1.1 !important;
    transition: all 0.2s linear;
    border-radius: 10px;
}

/* sezione viste */

.custom-btn-show{
    background-color: black;
    border: 1px solid white;
    padding: -5px;
}

.font-custom{
    font-size: 2.2em;
}

.generi:hover{
    background-color: rgb(49, 48, 48) !important;
    color: white !important;
}

.bg-custom-black{
    background-color: #000000 !important;
    border: 1px solid white !important;
    padding: 2px 5px !important; 
    border-radius: 0 !important;
}

.vista i{
    padding: 6px 10px;
    border: 1px solid white;
}

.vista svg{
    border: 1px solid white;
    height: 30px;
    width: 35px;
    padding: 6px;
    z-index: 1;
}

/* sezione caroselli */

.customCarousel{
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}

.scaleCaroselli{
    scale: 1.2;
    margin-right: 3.5px;
    margin-left: 3px;
}

.scaleCarosello{
    scale: 1.05;
    transition: all 0.3s linear;
    filter: drop-shadow(2px 0 6px gray);
}

.w-16{
    width: 16%;
}

.w-24{
    width: 24%;
}

.w-48{
    width: 48%;
}

#caroselli img:hover{
    scale: 1.1;
    transition: all 0.2s linear;
}

.carousel-control-prev{
    margin-left: -6% !important;
}

.carousel-control-next{
    margin-right: -6% !important;
}

.carosello2 div{
    display: flex;
    flex-wrap: wrap;
}

.carosello2 img{
    flex-basis: 20%;
    padding: 0.8em;
    width: 15%;
    object-fit: cover;
}


/* footer */

.sopraFooter i{
    font-size: 1.7em;
}

.contenutoFooter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contenutoFooter > a{
    flex-basis: 25%;
    text-decoration: none;
    color: rgb(166, 164, 164);
    font-size: 0.8em;
    padding: 10px;
}

.tastoFooter button{
    padding: 5px;
    color: rgb(166, 164, 164);
    border: 1px solid rgb(166, 164, 164);;
}

.copyright p{
    color: rgb(166, 164, 164);
    font-size: 0.9em;
}
@media  screen and (max-width: 991px) {
    #listaPagCollegate{
        width: 22%;
        margin-left: 40px;
    }
    #listaPagCollegate li:hover a{
        padding-left: 15%;
        border-left: 6px solid red;
    }
}



@media  screen and (max-width: 800px) {

    .contenutoFooter > a{    
        font-size: 0.6em;
        padding: 7px;
    }

    .carosello2 img{
        flex-basis: 25%;
    }
    #navbarSupportedContent{
        width: 100% !important;
    }
    #containerNav{
        width: 100% !important;
    }
    #nav{
        width: 100% !important;
    }

}

@media screen and (max-width: 650px) {
    #dx {
        flex-direction: column-reverse;
        position: relative;
    }

    #sectionSearch{
        position: absolute;
        right: 0;
        top: 61px;
    }

   
}


@media  screen and (max-width: 500px) {

    .contenutoFooter > a{    
        font-size: 0.7em;
        padding: 8px;
    }
    
    .show{
       scale: 0.8;
    }

    .carosello2 img{
        flex-basis: 50%;
    }
}




  